<nav>
    <div class="container">
        <div class="logo">
            <img src="../../../../assets/logo2.svg">
        </div>
       <div class="menu-responsive large">
        <div class="menu-button">
            <span (click)="menuToggle()" class="material-symbols-outlined">menu</span>
        </div>
        <div class="search-field">
            <input type="search" placeholder="Search" name="" id="">
        </div>
       </div>
        <div class="ctas-user-details">
            <span class="merchant">
                <span class="material-symbols-outlined">add_business</span>
                <span>Become a Retailer</span>
            </span>

            <div class="cart-profile">
                <div class="cart">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </div>
                <div class="user-profile">
                    <span class="profile">
                        @if(false){
                          <span class="identity">PA</span>
                        } @else{
                           <span class="material-symbols-outlined">person</span>
                        }
                   </span>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-responsive small">
        <div class="menu-button">
            <span (click)="menuToggle()" class="material-symbols-outlined">menu</span>
        </div>
        <div class="search-field">
            <span class="material-symbols-outlined">search</span>
            <input type="search" placeholder="Search" name="" id="">
        </div>
    </div>
    <div [ngClass]="{'menu-opened' : menuOpened}"  class="menuItems">
        <div class="menu-list">
            <ul>
                <li><a>Home</a></li>
                <li><a>Products</a>
                    <div class="menu-contains">
                        <div class="containning">
                            <div class="items">
                                <ul>
                                    <li><b>Header</b></li>
                                    <li><a>Plastic Waste</a></li>
                                    <li><a>Cold Washed HPDE</a></li>
                                    <li><a>PET Bales</a></li>
                                    <li><a>Cold Washed LDPE</a></li>
                                </ul>
                            </div>
                            <div class="ad">
                                <span class="img">
                                    <img src="" alt="">
                                    <span class="material-symbols-outlined">link</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a>Services</a></li>
                <li><a>Gallery</a></li>
                <li><a>About Us</a></li>
                <li><a>FAQ</a></li>
                <li><a>Help</a></li>
            </ul>
        </div>
        
    </div>
</nav>
<div class="loader"></div>