nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    inline-size: 100%;
    min-block-size: 4.5rem;
}

.container{
    height: 9dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100%;
    margin: auto;
    max-inline-size: 78rem;
}

.logo img{
    width: 130px;
}

.search-field{
    display: flex;
    align-items: center;
}

.search-field input{
    width: 40svw;
    height: 5dvh;
    padding: 0 20px;
    font-size: 1rem;
    outline: 0;
    -webkit-border: 0;
    border: 1.4px solid var(--black);
    border-radius: 20px;
}

.ctas-user-details{
    display: flex;
    align-items: center;
    gap: 40px;
}

.merchant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 7px 20px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
    font-size: var(--defaultFontSize);
}

.cart-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--black);
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
}

.menu-contains{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    bottom: 1;
    left: 0;
    margin-top: 13px;
    padding: 20px;
    z-index: 2;
}

.menu-contains{
    inline-size: 100%;
    min-block-size: 4.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.048);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease;
}

.loader{
    width: 100%;
    height: 1dvh;
    /* background-color: var(--black); */
}

.menuItems{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-bottom: 1.7px solid #acacac;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease;
}

.menu-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 25px 0;
}

.menu-list ul{
    display: flex;
    gap: 90px;
    font-size: 15px;
    list-style: none;
}

.menu-responsive{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.items ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-list ul li a{
    color: #acacac;
    transition:  0.2s all ease;
    cursor: pointer;
}

.menu-list ul li a:hover{
    color: #000;
}

.menu-list ul li:hover > .menu-contains{
    opacity: 1;
    visibility: visible;
    transform: translateY(7px);
}
.containning{
    inline-size: 100%;
    margin: auto;
    max-inline-size: 78rem;
}

.small{
    display: none;
}

.menu-opened{
    opacity: 1;
    visibility: visible;
}

.menu-button span{
    cursor: pointer;
}

.login{
    width: 7rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    border-radius: 30px;
    gap: 10px;
    cursor: pointer;
}
.login span{
    width: auto;
}

.login .material-symbols-outlined{
    font-size: 19px;
}

@media screen and (max-width: 900px) {
    .container{
        padding: 5px 20px;
    }
    .small{
        width: 100%;
        height: 7dvh;
        min-height: 6dvh;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #000;
    }

    .small .search-field{
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #000;
        }
        
        .small .search-field input{
            width: 100%;
            background-color: #000;
            color: #fff;
    }

    .small .menu-button{
        height: 100%;
    }

    .small .menu-button span{
        height: 100%;
        background-color: #85C300;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
    }


    .menuItems{
        position: relative;
    }

    .large{
        display: none;
    }

    .merchant span:last-child{
        display: none;
    }

    .merchant{
        padding: 7px;
        border-radius: 0;
    }

    .menu-list{
        justify-content: flex-start;
        padding: 20px 20px;
    }

    .menu-list ul{
        gap: 30px;
        overflow-x: scroll;
    }

    .menu-list ul li a{
        width: 39svw;
    }

    .menu-contains{
        visibility: visible;
        opacity: 1;
        transform: translateY(30px);
    }


}

@media screen and (max-width: 65.938rem) {
    .nav {
        min-block-size: 3.5rem;
    }
}