<div class="forgot-password">
    <div class="logo point" [routerLink]="['']">
        <img src="../../../assets/logo.svg" alt="Keejani">
        <span>Keejani</span>
    </div>
    <div class="container">
        <span id="login">Forgot Password</span>
        <div class="form">
            <form>
                <div class="input">
                    <label for="email">Your account email</label>
                    <app-generalinpu-one type="email" placeholder="Email" [inputStyle]="style"/>
                </div>
            </form>
            <app-generalbutton class="point" [buttonStyle]="buttonStyle" label="Submit Request" [action]="initForgotPassword"/>
        </div>
        <div class="register">
            <span class="point" [routerLink]="['../login']">Sign In</span>
        </div>
    </div>
</div>