<div class="hero">
    <div class="container">
        <img src="" alt="">
        <div class="main">
            <div class="caption">
                <h1>Your No.1 Waste Platform for all Industries.</h1>
            </div>
            <div class="slider">
                <ngx-glide [options]="glideOptions">
                    @for (item of listOfCards; track $index) {
                        <ngx-glide-slide>
                            <div class="card">
                                <img src="{{item.image}}" alt="">
                                <div class="captions">
                                    <span>{{item.title}}</span>
                                    <span>{{item.subtitle}}</span>
                                </div>
                            </div>
                        </ngx-glide-slide>
                    }
                  </ngx-glide>
                  
            </div>
            <div class="ctas">
                <div class="profiles">
                    <div class="cap">
                        <span>Our Top retailer</span>
                    </div>
                    <div class="users">
                        @for (item of TopRetailers; track $index) {
                            <span><img src={{item}} alt=""></span>
                        }
                    </div>
                </div>
                <div class="cta">
                    <span class="point" [routerLink]="['register']" >Get Started</span>
                </div>
                <span class="material-symbols-outlined arrow">arrow_downward</span>
            </div>
        </div>
    </div>
</div>