<app-navbar/>
<app-top-panel/>
<div class="cart">
    <div class="container">
        @if(true){
            <div class="cart-items">
                <div class="head">
                    <h1>Bagains</h1>
                    <span class="items-tag">items: 2</span>
                </div>
                <div class="items">
                    <!-- Card -->
                    <fieldset class="card">
                        <div class="item-details">
                            <div class="image">
                                <img src="https://img.freepik.com/premium-photo/stack-old-metal-pieces-industrial-concept-suitable-backgrounds-recycling-themes_153912-48479.jpg?ga=GA1.2.1900006000.1721461402&semt=ais_hybrid" alt="">
                            </div>
                            <div class="details">
                                <span class="name">Item Name</span>
                                <span class="description">Description</span>
                            </div>
                        </div>
                        <hr>
                        <div class="price">
                            <span class="title">Price</span>
                            <span class="pricing">$23,943.00</span>
                            <div class="unit">
                                <span class="ton">per ton</span>
                                <span class="unite">unit</span>
                                <span class="quantity">quantity: <input value="2" type="number"></span>
                            </div>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox"/>
                            <span class="status">Pending</span>
                        </div>
                    </fieldset>
                </div>
            </div>
            <app-sub-total/>
        }
          @else {
            <div class="empty-cart">
                <h2 class="h2">Your Bagain Basket is Empty</h2>
                <app-generalbutton [buttonStyle]="buttonStyle" label="Continue to Market"/>
            </div>
          }
    </div>
</div>

<div class="product-fetch">
    <app-products-fetch class="j-c"/>
</div>

<app-footer/>