.filter{
    /* width: 15rem; */
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.title{
    width: 100%;
    height: 2rem;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.filtering-category{
    width: 100%;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

fieldset ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

fieldset ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.head{
    font-size: 14px;
    font-weight: 600;
}
