<div class="filter">
    <div class="container">
        <div class="title">
            <span>Filter</span>
        </div>
        <div class="filtering-category">
           <fieldset>
            <ul>
                <span class="head">Types</span>
                <li>
                    <span class="category">Plastic</span> 
                    <input type="checkbox">
                </li>
                <li>
                    <span class="category">Metal</span> 
                    <input type="checkbox">
                </li>
                <li>
                    <span class="category">Glass</span> 
                    <input type="checkbox">
                </li>
            </ul>
            <ul>
                <span class="head">Shipment</span>
                <li>
                    <span class="category">Overseas</span> 
                    <input type="checkbox">
                </li>
                <li>
                    <span class="category">Nationwide</span> 
                    <input type="checkbox">
                </li>
            </ul>
            <app-generalbutton [buttonStyle]="buttonStyle" label="Apply"/>
           </fieldset>
        </div>
    </div>
</div>