:root{

    /* Additional Colors */
    --black: #000;
    --white: #fff;

    /* Primary Colors */
    --primaryAccentColor: #85C300;
    --accentDarkColor: #77AE00;

    /* Text Sizes */

    --defaultFontSize: 16px;
}

::selection{
    background-color: var(--primaryAccentColor);
}

@font-face {
    font-family: 'Product Sans';
    src: url('../src/assets/fonts/ProductSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('../src/assets/fonts/Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('../src/assets/fonts/ProductSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('../src/assets/fonts/Product\ Sans\ Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.point{
    cursor: pointer;
}