:root{

    /* Additional Colors */
    --black: #000;
    --white: #fff;

    /* Primary Colors */
    --primaryAccentColor: #85C300;
    --accentDarkColor: #77AE00;

    /* Text Sizes */

    --defaultFontSize: 16px;
}

::selection{
    background-color: var(--primaryAccentColor);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.point{
    cursor: pointer;
}