.main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 70px;
}

.container{
    width: 100%;
    /* max-width: 100svw; */
    /* overflow-x: hidden; */
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-inline-size: 80rem;
    gap: 20px;
}


.all-products{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap:20px;
    /* cursor: grabbing; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
}

.width{
    width: 100%;
}

.filter{
    /* width: 100; */
}

@media screen and (max-width: 1380px) {
    .filter{
        display: none;
    }

    .all-products{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .container{
        padding: 0 40px;
    }
}

@media screen and  (max-width: 900px) {
    .list-of-products{
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and  (max-width: 600px) {

    .top-action-panel{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px 20px;
    }

    .top-action-panel .search, .search input, .add-products{
        width: 100% !important;
    }


    .list-of-products{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and  (max-width: 550px) {

    .top-action-panel{
        flex-direction: column;
    }
    .list-of-products{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

