@media screen and (max-width: 500px) {
    .smail-screen{
       flex-direction: column;
    }
}


::ng-deep .mdc-linear-progress__buffer-bar {
    background-color: #77ae001b !important;
}

::ng-deep .mdc-linear-progress__bar-inner {
    border-color: #77AE00 !important;
}