<div class="sub-total">
    <div class="container">
        <div class="title">
            <h2>Subtotal</h2>
            <span>items</span>
        </div>
        <div class="items">
          @if(cartItems.length == 0){
            No Items Added to checkout
          } @else {
            @for (item of cartItems; track $index) {
                <div class="card">
                    <div class="image">
                                <img [src]="item.item.pictureUrl[0].imageUrl" alt="">
                                <!-- <img src="" alt=""> -->
                        <div class="name">
                            <span class="word-shorten">{{item.item.name}}</span>
                            <span>Quantity : {{item.cartItem.quantity}}</span>
                        </div>
                    </div>
                    <div class="price">
                        <span>Price</span>
                        <span>{{item.item.price | currency}}</span>
                    </div>
                </div>
               }
          }
        </div>
        <div class="order-summary">
            <h2>Order Summary</h2>
            <span class="summary">
                <span>Sum of products:</span>
                <span>GHC {{subtotal | number:'1.2-2'}}</span>
            </span>
            <span class="summary">
                <span>Service Charges:</span>
                <span>GHC {{serviceCharges | number:'1.2-2'}}</span>
            </span>
            <span class="summary">
                <span>Sum Before tax:</span>
                <span>GHC {{subtotal + serviceCharges | number:'1.2-2'}}</span>
            </span>
            <span class="summary">
                <span>Estimated tax:</span>
                <span>GHC {{tax | number:'1.2-2'}}</span>
            </span>
            <span class="summary Total">
                <span>Total:</span>
                <span>GHC {{total | number:'1.2-2'}}</span>
            </span>
        </div>


        <app-generalbutton (click)="checkOut()" label="Checkout" [buttonStyle]="buttonStyle"/>
    </div>
</div>